{% extends "base.html.twig" %}

{% block body %}
<h1>Page d'accueil!</h1>
<a href ="{{ path('Stage1') }}">stage première année</a><br>
<a href ="{{ path('Stage2') }}">stage deuxième année</a><br>
<a href ="{{ path('Web') }}">Web</a><br>
<a href ="{{ path('Application') }}">Application bureau</a><br>
{% endblock %}
